*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  scroll-behavior: smooth;
}

body{
  font-size: 18px;
  font-family: 'Exo', sans-serif;
  font-synthesis: none;
}

.arrow-top{
  position: absolute;
  transform: rotateZ(90deg);
  width: 3%;
  right: 1%;
  bottom: 0;
  z-index: 3;
}

/* HOME SECTION */

#Home{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-icons{
  transform: rotateZ(270deg);
  width: 80px;
  position: absolute;
  bottom: 5%;
  left: 40%;
}

.about-icon.
.works-icon,
.contacts-icon{
  width: 100%;

}

.fade-in-about{
  animation-name: fade-in-icon;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.fade-in-works{
  margin: 30px 0;
  animation-name: fade-in-icon;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

.fade-in-contact{
  animation-name: fade-in-icon;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}

@keyframes fade-in-icon {
  0%{opacity:0%;}
  80%{opacity: 0%;}
  100% {opacity:100%;}
}

.about-icon{
    animation: rotation-icon 8s infinite linear;
}

.works-icon{
  animation: rotation-icon 8s infinite linear;
}

.contacts-icon{
  animation: rotation-icon 8s infinite linear;
}

@keyframes rotation-icon {
  0%{transform: rotatez(0deg);}
  100%{transform: rotateZ(359deg);}
}

.div-logo{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-centrale{
  width: auto;
  animation-name: logo-inizio;
  animation-duration: 2s;
  position: relative;
}

@keyframes logo-inizio{
  0% {opacity: 0; width: 0;}
  65% {opacity: 100%; width: 100%;}
  80% {opacity: 80%; width: 60%;}
  100% {opacity: 100%; width: 100%;}
}


/* ABOUT SECTION */

#about{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-text-img{
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 8%;
}

.about-text-img  > div {
    display: flex;
    flex-direction: column;
  }

.lato-sx{
    border: 2px solid #fc008b;
  }

.lato-dx{
  border: 2px solid #fc008b;
}

.lato-dx img{
   width: 100%;
}

.bio{
  color: #fc008b;
  height: 100%;

  display: block;
  justify-content: center;
  align-items: center;

  width: 300px;
  padding: 30px;
}


.button{
  border: 1px solid #fc008b;
  color: #fc008b;
  width: 20%;
  padding: 10px;
  text-align: center;
}

a{
  text-decoration: none;
}

a.button:link{
  color: #fc008b;
}

a.button:hover{
  color: #f2f2f2;
  background-color: #fc008b;
}

h1{
  font-size: 50px;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  margin-bottom: 20px;
}

p:last-of-type{
  margin-bottom: 50px;
}


/* CONTACT SECTION */

#contact{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.contact-section{
  text-align: center;
  border: 1px solid #fc008b;

  width: 80%;
  margin: 40px 0;
  padding: 10px;
  color: #fc008b;
}

.contact-section h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-section p{
  font-size: 18px;
  color: #f2f2f2;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.form-row{
  margin: 20px;
}

.form-row textarea {
  font-family: "exo", sans-serif;
  font-size: 14px;

  border: 1px solid #fc008b;
  color: #f2f2f2;
  min-height: 150px;
  min-width: 300px;
  padding: 7px;
  resize: none;
}

.form-row input[type="email"] {
  font-family: "exo", sans-serif;
  font-size: 14px;
  padding: 2px;
  color: #f2f2f2;
  border: 1px solid #fc008b;

}

.form-row input[type="email"]:invalid{
  border: 1px solid red;
  color: red;
  box-shadow: none;
}

.form-row button {
  font-size: 14px;
  color: #fc008b;
  border: 1px solid #fc008b;
  padding: 10px;
  text-align: center;
}

.form-row button:hover {
  color: #f2f2f2;
  background-color: #fc008b;
}

.form-row button:active {
  color: #f2f2f2;
  background-color: #fc008b;
}


a.my-email:link{
  color:#fc008b;
}

a.my-email:hover{
  color:#f2f2f2;
}

/* FOOTER */

.footer{
width: 100%;
padding-top: 40px;
color: #f2f2f2;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 20px;
border-top: 2px solid #fc008b; opacity: 0.6;
}

.footer-section{
padding: 50px;

width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
}

.works,
.home,
.about-me{
    display: flex;
  justify-content: center;
  align-items: center;
}

.Instagram ,
.Behance ,
.Linkedin ,
.px ,
.Github,
.slash {
  display: flex;
justify-content: center;
padding: 10px;
}

.footer-section h1{
  font-size: 25px;
  font-weight: 600;
}

.footer-section p{
  font-size: 15px;
}

.home a,
.about-me a,
.works a{
  color: #fc008b;
}

.home a:hover,
.about-me a:hover,
.works a:hover{
  color: #f2f2f2;
}

.Instagram a,
.Behance a,
.Linkedin a,
.px a,
.Github a{
  color: #f2f2f2;
}

.Instagram a:hover,
.Behance a:hover,
.Linkedin a:hover,
.px a:hover,
.Github a:hover{
  color: #fc008b;
}


/* WORK PAGE */

/* MAIN */

.main-work-sections{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.line-one{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  margin-top: 2%;

      animation-name: fade-in-icon;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
}

.line-two{
display: flex;
justify-content: center;
flex-direction: column;
width: 65%;

    animation-name: fade-in-icon;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

.grid-item{
  flex: auto;
  margin: 10%;
  animation: rotation-icon 10s infinite linear;
  }



/* WORK SECTIONS */

.arrow{
  position: absolute;
  width: 3%;
  top: 2%;
  left: 2%;
  z-index: 3;
}

.body-work{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#header{
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

#video-bg{
  width: 85%;
  background-size: cover;
  margin-bottom: 100px;
}

.title h1{
position: absolute;
top: 65%;
left: 5%;
padding: 0;
}

.wrap-style {
  color: #fc008b; opacity: 0.5;
}


.text-header h1{
  text-align: left;
  display: block;
}

#photos{
  display: flex;
  justify-content: center;
  position: relative;
}

.foto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

img.works{
   width: 350px;
   margin: 20px;
}

img.works-illu{
   width: 350px;
   margin: 20px;
}

img.works-g{
   width: 350px;
   margin: 20px;
}

img.lofi{
  width: 350px;
  margin: 20px;
}

.one,
.two,
.three,
.four{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title h2{
  align-self: flex-start;
  width: 150px;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fc008b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f2f2f2;
}

@media only screen and (min-width: 961px){
  .div-logo{
    width: 700px;
    }

    @keyframes logo-inizio{
      0% {opacity: 0; width: 0;}
      65% {opacity: 100%; width: 100%;}
      80% {opacity: 80%; width: 30%;}
      100% {opacity: 100%; width: 43%;}
    }

.nav-icons{
 transform: rotateZ(0deg);
  width: 10%;
  height: 100%;
  position: absolute;
  top: 13vh;
  left: 5%;
}

.fade-in-works{
  margin-top: 30px;
  margin-bottom: 30px;
}

/*  ABOUT  */

.about-text-img{
  width: 100vh;
  flex-direction: row;
  margin: 8%;
}

.about-text-img > div{
  justify-content: center;
  text-align: left;
  width: 50%;
}

.lato-dx img{
   width: 100%;
   height: 100%;
}

.bio{
  color: #fc008b;
  height: 100%;

  display: block;
  justify-content: center;
  align-items: center;

  width: 380px;
  padding: 40px;
}

/* WORK SECTIONS */

.wrap h1{
      font-size: 100px;
    }

.title h1{
      font-size: 80px;
    }

img.works{
       width: 700px;
       margin: 50px;
    }

img.works-illu{
  width: 500px;
}

img.works-g{
       width: 700px;
       margin:  50px;
    }

img.works-g:last-of-type{
       width: 700px;
       margin: 0;
    }

img.lofi{
  width: 650px;
}

#carousel {
    width: 100%;
    height: 500px;
    overflow: auto;
    white-space: nowrap;
}

#carousel .slide {
    display: inline-block;
}

.title{
  align-self: flex-end;
  width: 150px;
}

.one,
.two,
.three,
.four{
  flex-wrap: nowrap;
}

.footer-section{
padding:  10px;

width: 100%;
display: flex;
justify-content: space-around;
flex-direction: row;
}

.about-me{
  margin-left: 20px;
}

.works{
  margin-left: 20px;
}

.home{
  display: flex;
justify-content: flex-end;
}

.Instagram ,
.Behance ,
.Linkedin ,
.px ,
.Github,
.slash {
  display: flex;
justify-content: center;
padding: 0;
}

.cursor{
  cursor: url("images/cursor.png"), auto;
}

.cursor-s{
  cursor: url("images/cursor-s.png"), auto;
}

.form-row input[type="text"]{
  width: initial;
}


/* MAIN */

.main-work-sections{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.line-one{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 65%;
  margin-top: 2%;
}

.line-two{
display: flex;
justify-content: center;
flex-direction: row;
width: 65%;
}

.grid-item{
  flex: auto;
  margin: 4%;
  animation: rotation-icon 10s infinite linear;
  }

}
